@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* Estilos gerais */

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(./image/armand-khoury-4cBVro7SHLs-unsplash.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100vmin;
  width: 100%;
  background-color: white;
  opacity: 0.85;
  z-index: -1;
}


/* Grid Areas */

main {
  display: grid;
  grid-template-areas:
    ". title btnResults ."
    " . addShared addInfoC ."
    ". resultsShared resultsItems . "
    ". results  results_10 .";
}

#title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #58b45e;
  grid-area: title;
}

#btnResults {
  grid-area: btnResults;
}

#addSharedItem {
  grid-area: addShared;
}

#addInfosClients {
  grid-area: addInfoC;
}

#resultsShared {
  grid-area: resultsShared;
}

#resultsItems {
  grid-area: resultsItems;
}

#results {
  grid-area: results;
}

#results_10 {
  grid-area: results_10;
}

/* Estilos da entrada de dados */

section {
  padding: 20px;
  margin: 20px;
}

.container {
  background-color: rgba(245, 245, 245, 0.842);
  border-radius: 2rem;
}

.containerAdd {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.inputs input {
  max-height: 2rem;
}

label {
  display: inline-block;
  font-weight: 500;
  margin: 2%;

}

button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 2%;
  margin-left: 5%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background-color: #3c8a41;
}

#calcSharedItem {
  visibility: hidden;
}

#addClient {
  width: 25%;
}


/* Estilos dos resultados */

#containerResults h2 {
  margin-bottom: 5%;
}

.resultsInfos {
  width: 100%;
}

.resultsInfos p {
  margin-top: 2%;
}